In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
import numpy as np

In [3]:
os.getcwd()

'/Users/regan/Documents/Springboard/Capstone2.0'

In [4]:
#load 2019 play-by-play dataset
pbp2019 = pd.read_csv('2019_CFB_Data.csv', encoding='latin-1')
pbp2019.head()

,gameid,provider,o/u,hometeam,home money,home spread,awayteam,away money,away spread,playid,...,fumble,td,xp result,two pt result,playstring,play str len,complex,max len,max spaces,week
0,401112431,teamrankings,55.0,Florida State Seminoles,-234.0,-6.0,Boise State Broncos,200.0,6.0,102925701,...,True,False,NaN,NaN,James Blackman sacked by Kekaula Kaniho and TE...,223,5,33,5,1
1,401110725,teamrankings,51.0,LSU Tigers,-3019.0,-27.0,Georgia Southern Eagles,1487.0,27.0,101998701,...,True,False,NaN,NaN,Shai Werts sacked by Rashard Lawrence for a lo...,212,5,33,5,1
2,401110723,teamrankings,46.0,Florida Gators,-291.0,-7.0,Miami Hurricanes,244.0,7.0,104966901,...,True,False,NaN,NaN,Jarren Williams sacked by Trey Dean III for a ...,192,5,33,5,1
3,401121935,consensus,49.0,Troy Trojans,NaN,-35.0,Campbell Fighting Camels,NaN,35.0,103979801,...,True,False,NaN,NaN,Team run for a loss of 26 yards for a SAFETY T...,101,5,33,5,1
4,401114228,teamrankings,65.5,Washington State Cougars,-5595.0,-33.0,New Mexico State Aggies,2219.0,33.0,101937404,...,False,False,NaN,NaN,Anthony Gordon pass complete to Brandon Arcona...,63,2,33,5,1

In [11]:
#remove unneeded columns from PBP dataset
pbp2019.columns

Index(['gameid', 'provider', 'o/u', 'hometeam', 'home money', 'home spread',
       'awayteam', 'away money', 'away spread', 'playid', 'activeid',
       'activeteam', 'nonactive team', 'drive #', 'playtype', 'quarter', 'sec',
       'homescore', 'awayscore', 'down', 'distance', 'yardstoendzone', 'zone',
       'qb', 'pass yds', 'receiver', 'recyds', 'runner', 'runyds', 'kicker',
       'kickyds', 'kickreturner', 'kickretyds', 'placekicker', 'pkyds',
       'pkresult', 'playyds', 'penalty', 'int', 'fumble', 'td', 'xp result',
       'two pt result', 'playstring', 'play str len', 'complex', 'max len',
       'max spaces', 'week'],
      dtype='object')

In [12]:
#remove 'o/u', 'home money', 'home spread', 'away money', 'away spread', 'playstring', 'play strn len', 'max len', 'max spaces'

drop_cols = ['o/u', 'home money', 'home spread', 'away money', 'away spread', 'playstring', 'play str len', 'max len', 'max spaces', 'provider']
pbp2019_red = pbp2019.drop(drop_cols, 1)
pbp2019_red.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,pkresult,playyds,penalty,int,fumble,td,xp result,two pt result,complex,week
0,401112431,Florida State Seminoles,Boise State Broncos,102925701,52,Florida State Seminoles,Boise State Broncos,5,7,2,...,NaN,16,False,False,True,False,NaN,NaN,5,1
1,401110725,LSU Tigers,Georgia Southern Eagles,101998701,290,Georgia Southern Eagles,LSU Tigers,3,7,1,...,NaN,10,False,False,True,False,NaN,NaN,5,1
2,401110723,Florida Gators,Miami Hurricanes,104966901,2390,Miami Hurricanes,Florida Gators,11,9,4,...,NaN,4,False,False,True,False,NaN,NaN,5,1
3,401121935,Troy Trojans,Campbell Fighting Camels,103979801,2097,Campbell Fighting Camels,Troy Trojans,9,20,3,...,NaN,0,False,False,True,False,NaN,NaN,5,1
4,401114228,Washington State Cougars,New Mexico State Aggies,101937404,265,Washington State Cougars,New Mexico State Aggies,2,24,1,...,NaN,0,False,False,False,False,NaN,NaN,2,1

In [13]:
#convert team names to lowercase

pbp2019_red['hometeam'] = pbp2019_red['hometeam'].str.lower()
pbp2019_red['awayteam'] = pbp2019_red['awayteam'].str.lower()
pbp2019_red['activeteam'] = pbp2019_red['activeteam'].str.lower()
pbp2019_red['nonactive team'] = pbp2019_red['nonactive team'].str.lower()

pbp2019_red.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,pkresult,playyds,penalty,int,fumble,td,xp result,two pt result,complex,week
0,401112431,florida state seminoles,boise state broncos,102925701,52,florida state seminoles,boise state broncos,5,7,2,...,NaN,16,False,False,True,False,NaN,NaN,5,1
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,NaN,10,False,False,True,False,NaN,NaN,5,1
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,NaN,4,False,False,True,False,NaN,NaN,5,1
3,401121935,troy trojans,campbell fighting camels,103979801,2097,campbell fighting camels,troy trojans,9,20,3,...,NaN,0,False,False,True,False,NaN,NaN,5,1
4,401114228,washington state cougars,new mexico state aggies,101937404,265,washington state cougars,new mexico state aggies,2,24,1,...,NaN,0,False,False,False,False,NaN,NaN,2,1

In [16]:
# load name and mascot file

name_mascot = pd.read_csv('Other_Data/Names_Mascots.txt')
name_mascot.head()

             name                       mascot
0  boston college        boston college eagles
1         clemson               clemson tigers
2            duke             duke blue devils
3   florida state      florida state seminoles
4    georgia tech  georgia tech yellow jackets

In [17]:
#convert to dict
mascot_dict = name_mascot.set_index('name')['mascot'].to_dict()
print(mascot_dict)

{'boston college': 'boston college eagles', 'clemson': 'clemson tigers', 'duke': 'duke blue devils', 'florida state': 'florida state seminoles', 'georgia tech': 'georgia tech yellow jackets', 'louisville': 'louisville cardinals', 'miami': 'miami hurricanes', 'north carolina': 'north carolina tar heels', 'nc state': 'nc state wolfpack', 'pittsburgh': 'pittsburgh panthers', 'syracuse': 'syracuse orange', 'virginia': 'virginia cavaliers', 'virginia tech': 'virginia tech hokies', 'wake forest': 'wake forest demon deacons', 'illinois': 'illinois fighting illini', 'indiana': 'indiana hoosiers', 'iowa': 'iowa hawkeyes', 'maryland': 'maryland terrapins', 'michigan': 'michigan wolverines', 'michigan state': 'michigan state spartans', 'minnesota': 'minnesota golden gophers', 'nebraska': 'nebraska cornhuskers', 'northwestern': 'northwestern wildcats', 'ohio state': 'ohio state buckeyes', 'penn state': 'penn state nittany lions', 'purdue': 'purdue boilermakers', 'rutgers': 'rutgers scarlet knights', 'wisconsin': 'wisconsin badgers', 'baylor': 'baylor bears', 'iowa state': 'iowa state cyclones', 'kansas': 'kansas jayhawks', 'kansas state': 'kansas state wildcats', 'oklahoma': 'oklahoma sooners', 'oklahoma state': 'oklahoma state cowboys', 'tcu': 'tcu horned frogs', 'texas': 'texas longhorns', 'texas tech': 'texas tech red raiders', 'west virginia': 'west virginia mountaineers', 'arizona': 'arizona wildcats', 'arizona state': 'arizona state sun devils', 'california': 'california golden bears', 'ucla': 'ucla bruins', 'colorado': 'colorado buffaloes', 'oregon': 'oregon ducks', 'oregon state': 'oregon state beavers', 'usc': 'usc trojans', 'stanford': 'stanford cardinal', 'utah': 'utah utes', 'washington': 'washington huskies', 'washington state': 'washington state cougars', 'alabama': 'alabama crimson tide', 'arkansas': 'arkansas razorbacks', 'auburn': 'auburn tigers', 'florida': 'florida gators', 'georgia': 'georgia bulldogs', 'kentucky': 'kentucky wildcats', 'lsu': 'lsu tigers', 'ole miss': 'ole miss rebels', 'mississippi state': 'mississippi state bulldogs', 'missouri': 'missouri tigers', 'south carolina': 'south carolina gamecocks', 'tennessee': 'tennessee volunteers', 'texas a&m': 'texas a&m aggies', 'vanderbilt': 'vanderbilt commodores'}

In [18]:
#load conference data
conferences = pd.read_csv('Other_Data/Conferences.csv',skip_blank_lines=True).fillna(np.nan) 
conferences

#conver to lowercase
conferences = conferences.apply(lambda x: x.astype(str).str.lower())

In [19]:
#adding nan to dictionary
mascot_dict['nan']=np.nan
mascot_dict

{'boston college': 'boston college eagles',
 'clemson': 'clemson tigers',
 'duke': 'duke blue devils',
 'florida state': 'florida state seminoles',
 'georgia tech': 'georgia tech yellow jackets',
 'louisville': 'louisville cardinals',
 'miami': 'miami hurricanes',
 'north carolina': 'north carolina tar heels',
 'nc state': 'nc state wolfpack',
 'pittsburgh': 'pittsburgh panthers',
 'syracuse': 'syracuse orange',
 'virginia': 'virginia cavaliers',
 'virginia tech': 'virginia tech hokies',
 'wake forest': 'wake forest demon deacons',
 'illinois': 'illinois fighting illini',
 'indiana': 'indiana hoosiers',
 'iowa': 'iowa hawkeyes',
 'maryland': 'maryland terrapins',
 'michigan': 'michigan wolverines',
 'michigan state': 'michigan state spartans',
 'minnesota': 'minnesota golden gophers',
 'nebraska': 'nebraska cornhuskers',
 'northwestern': 'northwestern wildcats',
 'ohio state': 'ohio state buckeyes',
 'penn state': 'penn state nittany lions',
 'purdue': 'purdue boilermakers',
 'rutgers': 'rutgers scarlet knights',
 'wisconsin': 'wisconsin badgers',
 'baylor': 'baylor bears',
 'iowa state': 'iowa state cyclones',
 'kansas': 'kansas jayhawks',
 'kansas state': 'kansas state wildcats',
 'oklahoma': 'oklahoma sooners',
 'oklahoma state': 'oklahoma state cowboys',
 'tcu': 'tcu horned frogs',
 'texas': 'texas longhorns',
 'texas tech': 'texas tech red raiders',
 'west virginia': 'west virginia mountaineers',
 'arizona': 'arizona wildcats',
 'arizona state': 'arizona state sun devils',
 'california': 'california golden bears',
 'ucla': 'ucla bruins',
 'colorado': 'colorado buffaloes',
 'oregon': 'oregon ducks',
 'oregon state': 'oregon state beavers',
 'usc': 'usc trojans',
 'stanford': 'stanford cardinal',
 'utah': 'utah utes',
 'washington': 'washington huskies',
 'washington state': 'washington state cougars',
 'alabama': 'alabama crimson tide',
 'arkansas': 'arkansas razorbacks',
 'auburn': 'auburn tigers',
 'florida': 'florida gators',
 'georgia': 'georgia bulldogs',
 'kentucky': 'kentucky wildcats',
 'lsu': 'lsu tigers',
 'ole miss': 'ole miss rebels',
 'mississippi state': 'mississippi state bulldogs',
 'missouri': 'missouri tigers',
 'south carolina': 'south carolina gamecocks',
 'tennessee': 'tennessee volunteers',
 'texas a&m': 'texas a&m aggies',
 'vanderbilt': 'vanderbilt commodores',
 'nan': nan}

In [21]:
#changing team name in conferences to include mascot
for conf in conferences:
    conferences[conf] = conferences[conf].apply(lambda x: mascot_dict[x])

In [22]:
conferences

,ACC,Big Ten,Big 12,Pac-12,SEC
0,boston college eagles,illinois fighting illini,baylor bears,arizona wildcats,alabama crimson tide
1,clemson tigers,indiana hoosiers,iowa state cyclones,arizona state sun devils,arkansas razorbacks
2,duke blue devils,iowa hawkeyes,kansas jayhawks,california golden bears,auburn tigers
3,florida state seminoles,maryland terrapins,kansas state wildcats,ucla bruins,florida gators
4,georgia tech yellow jackets,michigan wolverines,oklahoma sooners,colorado buffaloes,georgia bulldogs
5,louisville cardinals,michigan state spartans,oklahoma state cowboys,oregon ducks,kentucky wildcats
6,miami hurricanes,minnesota golden gophers,tcu horned frogs,oregon state beavers,lsu tigers
7,north carolina tar heels,nebraska cornhuskers,texas longhorns,usc trojans,ole miss rebels
8,nc state wolfpack,northwestern wildcats,texas tech red raiders,stanford cardinal,mississippi state bulldogs
9,pittsburgh panthers,ohio state buckeyes,west virginia mountaineers,utah utes,missouri tigers
10,syracuse orange,penn state nittany lions,NaN,washington huskies,south carolina gamecocks
11,virginia cavaliers,purdue boilermakers,NaN,washington state cougars,tennessee volunteers
12,virginia tech hokies,rutgers scarlet knights,NaN,NaN,texas a&m aggies
13,wake forest demon deacons,wisconsin badgers,NaN,NaN,vanderbilt commodores

In [23]:
#convert conferences to dictionary
conf_dict = conferences.to_dict(orient='list')
conf_dict.keys()

dict_keys(['ACC', 'Big Ten', 'Big 12', 'Pac-12', 'SEC'])

In [24]:
# reverse dconferences dictionary
conf_rev = {v: k for k, values in conf_dict.items() for v in values}
print(conf_rev)

{'boston college eagles': 'ACC', 'clemson tigers': 'ACC', 'duke blue devils': 'ACC', 'florida state seminoles': 'ACC', 'georgia tech yellow jackets': 'ACC', 'louisville cardinals': 'ACC', 'miami hurricanes': 'ACC', 'north carolina tar heels': 'ACC', 'nc state wolfpack': 'ACC', 'pittsburgh panthers': 'ACC', 'syracuse orange': 'ACC', 'virginia cavaliers': 'ACC', 'virginia tech hokies': 'ACC', 'wake forest demon deacons': 'ACC', 'illinois fighting illini': 'Big Ten', 'indiana hoosiers': 'Big Ten', 'iowa hawkeyes': 'Big Ten', 'maryland terrapins': 'Big Ten', 'michigan wolverines': 'Big Ten', 'michigan state spartans': 'Big Ten', 'minnesota golden gophers': 'Big Ten', 'nebraska cornhuskers': 'Big Ten', 'northwestern wildcats': 'Big Ten', 'ohio state buckeyes': 'Big Ten', 'penn state nittany lions': 'Big Ten', 'purdue boilermakers': 'Big Ten', 'rutgers scarlet knights': 'Big Ten', 'wisconsin badgers': 'Big Ten', 'baylor bears': 'Big 12', 'iowa state cyclones': 'Big 12', 'kansas jayhawks': 'Big 12', 'kansas state wildcats': 'Big 12', 'oklahoma sooners': 'Big 12', 'oklahoma state cowboys': 'Big 12', 'tcu horned frogs': 'Big 12', 'texas longhorns': 'Big 12', 'texas tech red raiders': 'Big 12', 'west virginia mountaineers': 'Big 12', nan: 'Pac-12', 'arizona wildcats': 'Pac-12', 'arizona state sun devils': 'Pac-12', 'california golden bears': 'Pac-12', 'ucla bruins': 'Pac-12', 'colorado buffaloes': 'Pac-12', 'oregon ducks': 'Pac-12', 'oregon state beavers': 'Pac-12', 'usc trojans': 'Pac-12', 'stanford cardinal': 'Pac-12', 'utah utes': 'Pac-12', 'washington huskies': 'Pac-12', 'washington state cougars': 'Pac-12', 'alabama crimson tide': 'SEC', 'arkansas razorbacks': 'SEC', 'auburn tigers': 'SEC', 'florida gators': 'SEC', 'georgia bulldogs': 'SEC', 'kentucky wildcats': 'SEC', 'lsu tigers': 'SEC', 'ole miss rebels': 'SEC', 'mississippi state bulldogs': 'SEC', 'missouri tigers': 'SEC', 'south carolina gamecocks': 'SEC', 'tennessee volunteers': 'SEC', 'texas a&m aggies': 'SEC', 'vanderbilt commodores': 'SEC'}

In [45]:
#lowercase 
keys_values = conf_rev.items()
conf_rev = {str(key).lower(): str(value).lower() for key, value in keys_values}
print(conf_rev)

{'boston college eagles': 'acc', 'clemson tigers': 'acc', 'duke blue devils': 'acc', 'florida state seminoles': 'acc', 'georgia tech yellow jackets': 'acc', 'louisville cardinals': 'acc', 'miami hurricanes': 'acc', 'north carolina tar heels': 'acc', 'nc state wolfpack': 'acc', 'pittsburgh panthers': 'acc', 'syracuse orange': 'acc', 'virginia cavaliers': 'acc', 'virginia tech hokies': 'acc', 'wake forest demon deacons': 'acc', 'illinois fighting illini': 'big ten', 'indiana hoosiers': 'big ten', 'iowa hawkeyes': 'big ten', 'maryland terrapins': 'big ten', 'michigan wolverines': 'big ten', 'michigan state spartans': 'big ten', 'minnesota golden gophers': 'big ten', 'nebraska cornhuskers': 'big ten', 'northwestern wildcats': 'big ten', 'ohio state buckeyes': 'big ten', 'penn state nittany lions': 'big ten', 'purdue boilermakers': 'big ten', 'rutgers scarlet knights': 'big ten', 'wisconsin badgers': 'big ten', 'baylor bears': 'big 12', 'iowa state cyclones': 'big 12', 'kansas jayhawks': 'big 12', 'kansas state wildcats': 'big 12', 'oklahoma sooners': 'big 12', 'oklahoma state cowboys': 'big 12', 'tcu horned frogs': 'big 12', 'texas longhorns': 'big 12', 'texas tech red raiders': 'big 12', 'west virginia mountaineers': 'big 12', 'nan': 'pac-12', 'arizona wildcats': 'pac-12', 'arizona state sun devils': 'pac-12', 'california golden bears': 'pac-12', 'ucla bruins': 'pac-12', 'colorado buffaloes': 'pac-12', 'oregon ducks': 'pac-12', 'oregon state beavers': 'pac-12', 'usc trojans': 'pac-12', 'stanford cardinal': 'pac-12', 'utah utes': 'pac-12', 'washington huskies': 'pac-12', 'washington state cougars': 'pac-12', 'alabama crimson tide': 'sec', 'arkansas razorbacks': 'sec', 'auburn tigers': 'sec', 'florida gators': 'sec', 'georgia bulldogs': 'sec', 'kentucky wildcats': 'sec', 'lsu tigers': 'sec', 'ole miss rebels': 'sec', 'mississippi state bulldogs': 'sec', 'missouri tigers': 'sec', 'south carolina gamecocks': 'sec', 'tennessee volunteers': 'sec', 'texas a&m aggies': 'sec', 'vanderbilt commodores': 'sec'}

In [27]:
#subset of pbp to test
pbp_small = pbp2019_red.iloc[:50,0:50]
pbp_small.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,pkresult,playyds,penalty,int,fumble,td,xp result,two pt result,complex,week
0,401112431,florida state seminoles,boise state broncos,102925701,52,florida state seminoles,boise state broncos,5,7,2,...,NaN,16,False,False,True,False,NaN,NaN,5,1
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,NaN,10,False,False,True,False,NaN,NaN,5,1
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,NaN,4,False,False,True,False,NaN,NaN,5,1
3,401121935,troy trojans,campbell fighting camels,103979801,2097,campbell fighting camels,troy trojans,9,20,3,...,NaN,0,False,False,True,False,NaN,NaN,5,1
4,401114228,washington state cougars,new mexico state aggies,101937404,265,washington state cougars,new mexico state aggies,2,24,1,...,NaN,0,False,False,False,False,NaN,NaN,2,1

In [46]:
#add home conference column to pbp_small as test
pbp_small['home_conf']=np.nan
for k, v in conf_rev.items():
    for i in range(len(pbp_small['hometeam'])):
        if k in pbp_small['hometeam'][i]:
            pbp_small['home_conf'][i]=v

/Users/regan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/regan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [47]:
#add away conference column to pbp_small as test
pbp_small['away_conf']=np.nan
for k, v in conf_rev.items():
    for i in range(len(pbp_small['awayteam'])):
        if k in pbp_small['awayteam'][i]:
            pbp_small['away_conf'][i] = v

/Users/regan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [48]:
pbp_small

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,penalty,int,fumble,td,xp result,two pt result,complex,week,home_conf,away_conf
0,401112431,florida state seminoles,boise state broncos,102925701,52,florida state seminoles,boise state broncos,5,7,2,...,False,False,True,False,NaN,NaN,5,1,acc,NaN
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,False,False,True,False,NaN,NaN,5,1,sec,NaN
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,False,False,True,False,NaN,NaN,5,1,sec,acc
3,401121935,troy trojans,campbell fighting camels,103979801,2097,campbell fighting camels,troy trojans,9,20,3,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
4,401114228,washington state cougars,new mexico state aggies,101937404,265,washington state cougars,new mexico state aggies,2,24,1,...,False,False,False,False,NaN,NaN,2,1,pac-12,NaN
5,401114228,washington state cougars,new mexico state aggies,101937405,265,washington state cougars,new mexico state aggies,2,24,1,...,False,False,False,False,NaN,NaN,2,1,pac-12,NaN
6,401114228,washington state cougars,new mexico state aggies,102849902,265,washington state cougars,new mexico state aggies,3,24,2,...,False,False,False,False,NaN,NaN,2,1,pac-12,NaN
7,401114228,washington state cougars,new mexico state aggies,102935504,265,washington state cougars,new mexico state aggies,5,24,2,...,False,False,False,False,NaN,NaN,2,1,pac-12,NaN
8,401112212,michigan state spartans,tulsa golden hurricane,102955001,202,tulsa golden hurricane,michigan state spartans,6,7,2,...,False,False,True,False,NaN,NaN,5,1,big ten,NaN
9,401112238,nebraska cornhuskers,south alabama jaguars,101974201,6,south alabama jaguars,nebraska cornhuskers,3,7,1,...,False,False,True,False,NaN,NaN,5,1,big ten,NaN
10,401112085,iowa state cyclones,northern iowa panthers,103999301,66,iowa state cyclones,northern iowa panthers,8,7,3,...,False,False,True,False,NaN,NaN,5,1,big 12,NaN
11,401119253,central michigan chippewas,albany great danes,104858601,2117,central michigan chippewas,albany great danes,10,7,4,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
12,401112096,kansas jayhawks,indiana state sycamores,104957501,2305,kansas jayhawks,indiana state sycamores,10,7,4,...,False,False,True,False,NaN,NaN,5,1,big 12,NaN
13,401117858,arkansas state red wolves,smu mustangs,102859801,2567,smu mustangs,arkansas state red wolves,4,20,2,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
14,401114244,utep miners,houston baptist huskies,103878101,2638,utep miners,houston baptist huskies,8,20,3,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
15,401112436,louisville cardinals,notre dame fighting irish,102989001,87,notre dame fighting irish,louisville cardinals,7,29,2,...,False,False,True,False,NaN,NaN,4,1,acc,NaN
16,401117495,new mexico lobos,sam houston state bearkats,101984705,2534,sam houston state bearkats,new mexico lobos,4,29,1,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
17,401117855,uconn huskies,wagner seahawks,104849902,2681,wagner seahawks,uconn huskies,10,24,4,...,True,False,False,False,NaN,NaN,2,1,NaN,NaN
18,401117855,uconn huskies,wagner seahawks,104896212,2681,wagner seahawks,uconn huskies,11,7,4,...,True,False,False,False,NaN,NaN,2,1,NaN,NaN
19,401117855,uconn huskies,wagner seahawks,104896208,2681,wagner seahawks,uconn huskies,11,24,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
20,401117855,uconn huskies,wagner seahawks,101986003,2681,wagner seahawks,uconn huskies,4,24,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
21,401117855,uconn huskies,wagner seahawks,104896201,2681,wagner seahawks,uconn huskies,11,24,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
22,401117855,uconn huskies,wagner seahawks,103957903,2681,wagner seahawks,uconn huskies,9,24,3,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
23,401117855,uconn huskies,wagner seahawks,103957902,2681,wagner seahawks,uconn huskies,9,24,3,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
24,401117855,uconn huskies,wagner seahawks,103879301,2681,wagner seahawks,uconn huskies,8,24,3,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
25,401117855,uconn huskies,wagner seahawks,101849903,2681,wagner seahawks,uconn huskies,1,3,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
26,401117855,uconn huskies,wagner seahawks,102916906,2681,wagner seahawks,uconn huskies,5,3,2,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
27,401117855,uconn huskies,wagner seahawks,101957005,2681,wagner seahawks,uconn huskies,3,24,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
28,401117855,uconn huskies,wagner seahawks,103879303,2681,wagner seahawks,uconn huskies,8,24,3,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
29,401117855,uconn huskies,wagner seahawks,103879304,2681,wagner seahawks,uconn huskies,8,7,3,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
30,401117855,uconn huskies,wagner seahawks,104849903,2681,wagner seahawks,uconn huskies,10,3,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
31,401117855,uconn huskies,wagner seahawks,104849905,2681,wagner seahawks,uconn huskies,10,7,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
32,401117855,uconn huskies,wagner seahawks,104849904,2681,wagner seahawks,uconn huskies,10,24,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
33,401117855,uconn huskies,wagner seahawks,104896205,2681,wagner seahawks,uconn huskies,11,24,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
34,401117855,uconn huskies,wagner seahawks,101849905,2681,wagner seahawks,uconn huskies,1,24,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
35,401117855,uconn huskies,wagner seahawks,101894302,2681,wagner seahawks,uconn huskies,2,5,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
36,401117855,uconn huskies,wagner seahawks,101957004,2681,wagner seahawks,uconn huskies,3,3,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
37,401117855,uconn huskies,wagner seahawks,101957006,2681,wagner seahawks,uconn huskies,3,3,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
38,401117855,uconn huskies,wagner seahawks,102916904,2681,wagner seahawks,uconn huskies,5,3,2,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
39,401117855,uconn huskies,wagner seahawks,102947603,2681,wagner seahawks,uconn huskies,6,3,2,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
40,401117855,uconn huskies,wagner seahawks,104896209,2681,wagner seahawks,uconn huskies,11,3,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
41,401117855,uconn huskies,wagner seahawks,101886002,2681,wagner seahawks,uconn huskies,2,3,1,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
42,401117855,uconn huskies,wagner seahawks,102849904,2681,wagner seahawks,uconn huskies,4,3,2,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
43,401117855,uconn huskies,wagner seahawks,102849905,2681,wagner seahawks,uconn huskies,4,3,2,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
44,401121935,troy trojans,campbell fighting camels,104868211,2097,campbell fighting camels,troy trojans,10,5,4,...,False,False,False,False,NaN,NaN,2,1,NaN,NaN
45,401114241,north texas mean green,abilene christian wildcats,102989801,249,north texas mean green,abilene christian wildcats,8,32,2,...,False,False,False,True,GOOD,NaN,3,1,NaN,NaN
46,401117854,cincinnati bearcats,ucla bruins,104958201,26,ucla bruins,cincinnati bearcats,12,7,4,...,False,False,True,False,NaN,NaN,5,1,NaN,pac-12
47,401117854,cincinnati bearcats,ucla bruins,101898101,26,ucla bruins,cincinnati bearcats,1,29,1,...,False,False,True,False,NaN,NaN,4,1,NaN,pac-12
48,401117854,cincinnati bearcats,ucla bruins,104877401,26,ucla bruins,cincinnati bearcats,11,26,4,...,False,True,False,False,NaN,NaN,3,1,NaN,pac-12
49,401117854,cincinnati bearcats,ucla bruins,103857201,26,ucla bruins,cincinnati bearcats,8,26,3,...,False,True,False,False,NaN,NaN,3,1,NaN,pac-12

In [49]:
#add home conference column
pbp2019_red['home_conf']=np.nan
for k, v in conf_rev.items():
    for i in range(len(pbp2019_red['hometeam'])):
        if k in pbp2019_red['hometeam'][i]:
            pbp2019_red['home_conf'][i]=v

/Users/regan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/regan/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [50]:
#add away conference column
pbp2019_red['away_conf']=np.nan
for k, v in conf_rev.items():
    for i in range(len(pbp2019_red['awayteam'])):
        if k in pbp2019_red['awayteam'][i]:
            pbp2019_red['away_conf'][i] = v

/Users/regan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [51]:
pbp2019_red.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,penalty,int,fumble,td,xp result,two pt result,complex,week,home_conf,away_conf
0,401112431,florida state seminoles,boise state broncos,102925701,52,florida state seminoles,boise state broncos,5,7,2,...,False,False,True,False,NaN,NaN,5,1,acc,NaN
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,False,False,True,False,NaN,NaN,5,1,sec,NaN
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,False,False,True,False,NaN,NaN,5,1,sec,acc
3,401121935,troy trojans,campbell fighting camels,103979801,2097,campbell fighting camels,troy trojans,9,20,3,...,False,False,True,False,NaN,NaN,5,1,NaN,NaN
4,401114228,washington state cougars,new mexico state aggies,101937404,265,washington state cougars,new mexico state aggies,2,24,1,...,False,False,False,False,NaN,NaN,2,1,pac-12,NaN

In [67]:
#drop all games that do not involve a team in the Big Ten or SEC
c = ['big ten','sec']
pbph = pbp2019_red.loc[pbp2019_red['home_conf'].isin(c)]
pbpa = pbp2019_red.loc[pbp2019_red['away_conf'].isin(c)]
pbp= pbph.append(pbpa)
#this will append many duplicates where the home and away team are both in the big ten and sec

In [68]:
# drop duplicates
pbp = pbp.drop_duplicates()

In [69]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [70]:
#check dataframe sizes
pbp2019_red.shape
pbp.shape

(134729, 41)

(34166, 41)

In [71]:
pbp.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,penalty,int,fumble,td,xp result,two pt result,complex,week,home_conf,away_conf
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,False,False,True,False,NaN,NaN,5,1,sec,NaN
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,False,False,True,False,NaN,NaN,5,1,sec,acc
8,401112212,michigan state spartans,tulsa golden hurricane,102955001,202,tulsa golden hurricane,michigan state spartans,6,7,2,...,False,False,True,False,NaN,NaN,5,1,big ten,NaN
9,401112238,nebraska cornhuskers,south alabama jaguars,101974201,6,south alabama jaguars,nebraska cornhuskers,3,7,1,...,False,False,True,False,NaN,NaN,5,1,big ten,NaN
86,401110730,tennessee volunteers,georgia state panthers,104857801,2633,tennessee volunteers,georgia state panthers,8,24,4,...,False,False,False,False,NaN,NaN,2,1,sec,NaN

In [92]:
pbp['week'].max()

14

In [355]:
pbp.dtypes

gameid              int64
hometeam           object
awayteam           object
playid              int64
activeid            int64
activeteam         object
nonactive team     object
drive #             int64
playtype            int64
quarter             int64
sec                 int64
homescore           int64
awayscore           int64
down                int64
distance            int64
yardstoendzone      int64
zone               object
qb                 object
pass yds          float64
receiver           object
recyds            float64
runner             object
runyds            float64
kicker             object
kickyds           float64
kickreturner       object
kickretyds        float64
placekicker        object
pkyds             float64
pkresult           object
playyds             int64
penalty              bool
int                  bool
fumble               bool
td                   bool
xp result          object
two pt result      object
complex             int64
week                int64
home_conf          object
away_conf          object
home_rank         float64
dtype: object

In [378]:
#load rankings dataset
rankings2019 = pd.read_csv('Other_Data/Ranking.csv')
rankings2019

,PreseasonAug 1[18],Week 1Sep 3[19],Week 2Sep 8[20],Week 3Sep 15[21],Week 4Sep 22[22],Week 5Sep 29[23],Week 6Oct 6[24],Week 7Oct 13[25],Week 8Oct 20[26],Week 9Oct 27[27],Week 10Nov 3[28],Week 11Nov 10[29],Week 12Nov 17[30],Week 13Nov 24[31],Week 14Dec 1[32],Week 15Dec 8[33],Week 16 (Final)Jan 14[34],Unnamed: 17
0,Clemson (59),Clemson (1â€“0) (58),Clemson (2â€“0) (60),Clemson (3â€“0) (62),Clemson (4â€“0) (62),Alabama (5â€“0) (29),Alabama (5â€“0) (42),Alabama (6â€“0) (44),Alabama (7â€“0) (44),Alabama (8â€“0) (40),Alabama (8â€“0) (37),LSU (9â€“0) (55),LSU (10â€“0) (55),LSU (11â€“0) (52),LSU (12â€“0) (43),LSU (13â€“0) (46),LSU (15â€“0) (65),1
1,Alabama (6),Alabama (1â€“0) (6),Alabama (2â€“0) (3),Alabama (3â€“0) (3),Alabama (4â€“0) (2),Clemson (5â€“0) (30),Clemson (5â€“0) (20),Clemson (6â€“0) (14),Clemson (7â€“0) (10),LSU (8â€“0) (7),LSU (8â€“0) (11),Ohio State (9â€“0) (5),Ohio State (10â€“0) (6),Ohio State (11â€“0) (7),Ohio State (12â€“0) (17),Ohio State (13â€“0) (14),Clemson (14â€“1),2
2,Georgia,Georgia (1â€“0),Georgia (2â€“0),Georgia (3â€“0),Georgia (4â€“0) (1),Georgia (4â€“0) (1),Georgia (5â€“0),LSU (6â€“0) (3),LSU (7â€“0) (3),Clemson (8â€“0) (10),Clemson (9â€“0) (9),Clemson (10â€“0) (4),Clemson (11â€“0) (4),Clemson (11â€“0) (4),Clemson (12â€“0) (4),Clemson (13â€“0) (5),Ohio State (13â€“1),3
3,Oklahoma,Oklahoma (1â€“0),Oklahoma (2â€“0),Oklahoma (3â€“0),Oklahoma (3â€“0),Oklahoma (4â€“0),Ohio State (5â€“0) (3),Ohio State (6â€“0) (4),Ohio State (7â€“0) (8),Ohio State (8â€“0) (8),Ohio State (8â€“0) (8),Alabama (8â€“1),Georgia (9â€“1),Georgia (10â€“1),Georgia (11â€“1),Oklahoma (12â€“1),Georgia (12â€“2),4
4,Ohio State,Ohio State (1â€“0),LSU (2â€“0),LSU (3â€“0),LSU (4â€“0),Ohio State (5â€“0) (4),Oklahoma (5â€“0),Oklahoma (6â€“0),Oklahoma (7â€“0),Penn State (8â€“0),Penn State (8â€“0),Georgia (8â€“1),Alabama (9â€“1),Alabama (10â€“1),Utah (11â€“1),Georgia (11â€“2),Oregon (12â€“2),5
5,LSU,LSU (1â€“0),Ohio State (2â€“0),Ohio State (3â€“0),Ohio State (4â€“0),LSU (4â€“0),LSU (5â€“0),Wisconsin (6â€“0),Penn State (7â€“0),Florida (7â€“1),Georgia (7â€“1),Oregon (8â€“1),Oregon (9â€“1),Utah (10â€“1),Oklahoma (11â€“1),Oregon (11â€“2),Oklahoma (12â€“2),6
6,Michigan,Michigan (1â€“0),Notre Dame (2â€“0),Notre Dame (2â€“0),Auburn (4â€“0),Auburn (4â€“0),Florida (6â€“0),Penn State (6â€“0),Notre Dame (5â€“1),Georgia (6â€“1),Oregon (8â€“1),Minnesota (9â€“0),Oklahoma (9â€“1),Oklahoma (10â€“1),Florida (10â€“2),Florida (10â€“2),Florida (11â€“2),7
7,Florida,Notre Dame (1â€“0),Florida (2â€“0),Florida (3â€“0),Florida (4â€“0),Florida (5â€“0),Wisconsin (5â€“0),Notre Dame (5â€“1),Florida (7â€“1),Oregon (7â€“1),Oklahoma (7â€“1),Oklahoma (8â€“1),Utah (9â€“1),Florida (9â€“2),Baylor (11â€“1),Baylor (11â€“2),Alabama (11â€“2),8
8,Notre Dame,Texas (1â€“0),Auburn (2â€“0),Auburn (3â€“0),Wisconsin (3â€“0),Wisconsin (4â€“0),Penn State (5â€“0),Florida (6â€“1),Georgia (6â€“1),Oklahoma (7â€“1),Utah (8â€“1),Utah (8â€“1),Penn State (9â€“1),Minnesota (10â€“1),Alabama (10â€“2),Alabama (10â€“2),Penn State (11â€“2),9
9,Texas,Florida (1â€“0),Michigan (2â€“0),Michigan (2â€“0),Notre Dame (2â€“1),Notre Dame (3â€“1),Notre Dame (4â€“1),Georgia (5â€“1),Auburn (6â€“1),Utah (7â€“1),Baylor (8â€“0),Baylor (9â€“0),Florida (9â€“2),Baylor (10â€“1),Wisconsin (10â€“2),Utah (11â€“2),Minnesota (11â€“2),10
10,Texas A&M,Texas A&M (1â€“0),Penn State (2â€“0),Utah (3â€“0),Penn State (3â€“0),Penn State (4â€“0),Texas (4â€“1),Auburn (5â€“1),Oregon (6â€“1),Baylor (7â€“0),Florida (7â€“2),Penn State (8â€“1),Minnesota (9â€“1),Michigan (9â€“2),Penn State (10â€“2),Wisconsin (10â€“3),Notre Dame (11â€“2),11
11,Washington,Washington (1â€“0),Utah (2â€“0),Penn State (3â€“0),Texas (3â€“1),Texas (3â€“1),Auburn (4â€“1),Oregon (5â€“1),Utah (6â€“1),Auburn (6â€“2),Auburn (7â€“2),Florida (8â€“2),Michigan (8â€“2),Penn State (9â€“2),Auburn (9â€“3),Penn State (10â€“2),Baylor (11â€“3),12
12,Oregon,Auburn (1â€“0),Texas (1â€“1),Texas (2â€“1),Oregon (3â€“1),Oregon (3â€“1),Oregon (4â€“1),Boise State (6â€“0),Wisconsin (6â€“1),Minnesota (8â€“0),Minnesota (8â€“0),Auburn (7â€“2),Baylor (9â€“1),Oregon (9â€“2),Oregon (10â€“2),Auburn (9â€“3),Wisconsin (10â€“4),13
13,Penn State,Penn State (1â€“0),Wisconsin (2â€“0),Wisconsin (2â€“0),Iowa (3â€“0),Iowa (4â€“0),Boise State (5â€“0),Utah (5â€“1),Baylor (7â€“0),SMU (8â€“0),Michigan (7â€“2),Michigan (7â€“2),Wisconsin (8â€“2),Wisconsin (9â€“2),Notre Dame (10â€“2),Notre Dame (10â€“2),Auburn (9â€“4),14
14,Utah,Utah (1â€“0),Texas A&M (1â€“1),Texas A&M (2â€“1),Boise State (4â€“0),Boise State (4â€“0),Utah (4â€“1),Texas (4â€“2),Texas (5â€“2),Michigan (6â€“2),Notre Dame (6â€“2),Wisconsin (7â€“2),Notre Dame (8â€“2),Notre Dame (9â€“2),Minnesota (10â€“2),Memphis (12â€“1),Iowa (10â€“3),15
15,Auburn,Wisconsin (1â€“0),UCF (2â€“0),UCF (3â€“0),California (4â€“0),Washington (4â€“1),Michigan (4â€“1),Michigan (5â€“1),Minnesota (7â€“0),Notre Dame (5â€“2),Wisconsin (6â€“2),Notre Dame (7â€“2),Auburn (7â€“3),Auburn (8â€“3),Memphis (11â€“1),Minnesota (10â€“2),Utah (11â€“3),16
16,UCF,UCF (1â€“0),Oregon (1â€“1),Oregon (2â€“1),Washington (3â€“1),Utah (4â€“1),Wake Forest (5â€“0),Arizona State (5â€“1),SMU (7â€“0),Wisconsin (6â€“2),Cincinnati (7â€“1),Cincinnati (8â€“1),Cincinnati (9â€“1),Cincinnati (10â€“1),Boise State (11â€“1),Michigan (9â€“3),Memphis (12â€“2),17
17,Wisconsin,Oregon (0â€“1),Iowa (2â€“0),Iowa (3â€“0),Virginia (4â€“0),Michigan (3â€“1),Iowa (4â€“1),Baylor (6â€“0),Cincinnati (6â€“1),Cincinnati (6â€“1),Iowa (6â€“2),Memphis (8â€“1),Memphis (9â€“1),Memphis (10â€“1),Michigan (9â€“3),Boise State (12â€“1),Appalachian State (13â€“1),18
18,Iowa,Iowa (1â€“0),Michigan State (2â€“0),Washington State (3â€“0),Utah (3â€“1),UCF (4â€“1),Virginia (4â€“1),SMU (6â€“0),Iowa (5â€“2),Iowa (6â€“2),Memphis (8â€“1),Boise State (8â€“1),Boise State (9â€“1),Boise State (10â€“1),Iowa (9â€“3),Iowa (9â€“3),Michigan (9â€“4),19
19,Michigan State,Michigan State (1â€“0),Washington State (2â€“0),Boise State (3â€“0),Michigan (2â€“1),Wake Forest (5â€“0),Memphis (5â€“0),Minnesota (6â€“0),Michigan (5â€“2),Appalachian State (7â€“0),Wake Forest (7â€“1),SMU (9â€“1),Iowa (7â€“3),Iowa (8â€“3),Appalachian State (11â€“1),Appalachian State (12â€“1),Navy (11â€“2),20
20,Washington State,Washington State (1â€“0),Washington (1â€“1),Washington (2â€“1),Texas A&M (2â€“2),Texas A&M (3â€“2),Texas A&M (3â€“2),Cincinnati (5â€“1),Boise State (6â€“1),Boise State (6â€“1),Boise State (7â€“1),Navy (7â€“1),SMU (9â€“1),Oklahoma State (8â€“3),Cincinnati (10â€“2),Navy (9â€“2),Cincinnati (11â€“3),21
21,Syracuse,Syracuse (1â€“0),Boise State (2â€“0),Virginia (3â€“0),Kansas State (3â€“0),Virginia (4â€“1),SMU (6â€“0),Iowa (4â€“2),Appalachian State (6â€“0),Wake Forest (6â€“1),Kansas State (6â€“2),Iowa (6â€“3),Appalachian State (9â€“1),Appalachian State (10â€“1),Virginia (9â€“3),Cincinnati (10â€“3),Boise State (12â€“2),22
22,Stanford,Stanford (1â€“0),Mississippi State (2â€“0),California (3â€“0),UCF (3â€“1),Michigan State (4â€“1),Baylor (5â€“0),Washington (5â€“2),Wake Forest (6â€“1),Memphis (7â€“1),SMU (8â€“1),Texas (6â€“3),Oklahoma State (7â€“3),Virginia Tech (8â€“3),Navy (9â€“2),USC (8â€“4),Air Force (11â€“2),23
23,Iowa State,Boise State (1â€“0),USC (2â€“0),Arizona State (3â€“0),Wake Forest (4â€“0),Memphis (4â€“0),Arizona State (4â€“1),Appalachian State (5â€“0),Arizona State (5â€“2),Texas (5â€“3),San Diego State (7â€“1),Appalachian State (8â€“1),Texas A&M (7â€“3),Navy (8â€“2),USC (8â€“4),Air Force (10â€“2),UCF (10â€“3),24
24,Northwestern,Nebraska (1â€“0),Maryland (2â€“0),Kansas State (3â€“0),USC (3â€“1),Oklahoma State (4â€“1),Minnesota (5â€“0),Temple (5â€“1),Memphis (6â€“1),Kansas State (5â€“2),Navy (7â€“1),Indiana (7â€“2),San Diego State (8â€“2),USC (8â€“4),Air Force (10â€“2),Virginia (9â€“4),Virginia (9â€“5),25

In [379]:
rankings2019col = rankings2019.columns

#remove []
rankings2019col_rename = [re.sub('\[.*?\]', '', name) for name in rankings2019col]

In [380]:
#remove date
rankings2019col_rename2 = [re.sub('Aug [0-9]*| Jan [0-9]*|Sep [0-9]*|Oct [0-9]*|Nov [0-9]*|Dec [0-9]*|Jan [0-9]*','',month) for month in rankings2019col_rename]
print(rankings2019col_rename2)

['Preseason', 'Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7', 'Week 8', 'Week 9', 'Week 10', 'Week 11', 'Week 12', 'Week 13', 'Week 14', 'Week 15', 'Week 16 (Final)', 'Unnamed: 17']

In [381]:
#remove "week"
rankings2019col_3 = [re.sub('Week','',week)for week in rankings2019col_rename2]

In [382]:
#replace columns with new names
rankings2019.columns = rankings2019col_3
rankings2019.head()

,Preseason,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16 (Final),Unnamed: 17
0,Clemson (59),Clemson (1â€“0) (58),Clemson (2â€“0) (60),Clemson (3â€“0) (62),Clemson (4â€“0) (62),Alabama (5â€“0) (29),Alabama (5â€“0) (42),Alabama (6â€“0) (44),Alabama (7â€“0) (44),Alabama (8â€“0) (40),Alabama (8â€“0) (37),LSU (9â€“0) (55),LSU (10â€“0) (55),LSU (11â€“0) (52),LSU (12â€“0) (43),LSU (13â€“0) (46),LSU (15â€“0) (65),1
1,Alabama (6),Alabama (1â€“0) (6),Alabama (2â€“0) (3),Alabama (3â€“0) (3),Alabama (4â€“0) (2),Clemson (5â€“0) (30),Clemson (5â€“0) (20),Clemson (6â€“0) (14),Clemson (7â€“0) (10),LSU (8â€“0) (7),LSU (8â€“0) (11),Ohio State (9â€“0) (5),Ohio State (10â€“0) (6),Ohio State (11â€“0) (7),Ohio State (12â€“0) (17),Ohio State (13â€“0) (14),Clemson (14â€“1),2
2,Georgia,Georgia (1â€“0),Georgia (2â€“0),Georgia (3â€“0),Georgia (4â€“0) (1),Georgia (4â€“0) (1),Georgia (5â€“0),LSU (6â€“0) (3),LSU (7â€“0) (3),Clemson (8â€“0) (10),Clemson (9â€“0) (9),Clemson (10â€“0) (4),Clemson (11â€“0) (4),Clemson (11â€“0) (4),Clemson (12â€“0) (4),Clemson (13â€“0) (5),Ohio State (13â€“1),3
3,Oklahoma,Oklahoma (1â€“0),Oklahoma (2â€“0),Oklahoma (3â€“0),Oklahoma (3â€“0),Oklahoma (4â€“0),Ohio State (5â€“0) (3),Ohio State (6â€“0) (4),Ohio State (7â€“0) (8),Ohio State (8â€“0) (8),Ohio State (8â€“0) (8),Alabama (8â€“1),Georgia (9â€“1),Georgia (10â€“1),Georgia (11â€“1),Oklahoma (12â€“1),Georgia (12â€“2),4
4,Ohio State,Ohio State (1â€“0),LSU (2â€“0),LSU (3â€“0),LSU (4â€“0),Ohio State (5â€“0) (4),Oklahoma (5â€“0),Oklahoma (6â€“0),Oklahoma (7â€“0),Penn State (8â€“0),Penn State (8â€“0),Georgia (8â€“1),Alabama (9â€“1),Alabama (10â€“1),Utah (11â€“1),Georgia (11â€“2),Oregon (12â€“2),5

In [383]:
#remove (record) and (votes) from data
rankings = rankings2019.replace(to_replace = '\(.*?\)', value = '', regex=True)
rankings.head()

,Preseason,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16 (Final),Unnamed: 17
0,Clemson,Clemson,Clemson,Clemson,Clemson,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,LSU,LSU,LSU,LSU,LSU,LSU,1
1,Alabama,Alabama,Alabama,Alabama,Alabama,Clemson,Clemson,Clemson,Clemson,LSU,LSU,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Clemson,2
2,Georgia,Georgia,Georgia,Georgia,Georgia,Georgia,Georgia,LSU,LSU,Clemson,Clemson,Clemson,Clemson,Clemson,Clemson,Clemson,Ohio State,3
3,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Alabama,Georgia,Georgia,Georgia,Oklahoma,Georgia,4
4,Ohio State,Ohio State,LSU,LSU,LSU,Ohio State,Oklahoma,Oklahoma,Oklahoma,Penn State,Penn State,Georgia,Alabama,Alabama,Utah,Georgia,Oregon,5

In [384]:
rankings.columns

Index(['Preseason', ' 1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7', ' 8', ' 9',
       ' 10', ' 11', ' 12', ' 13', ' 14', ' 15', ' 16 (Final)', 'Unnamed: 17'],
      dtype='object')

In [385]:
#drop preseason and postseason rankings
drop_col_rank = ['Preseason',' 15',' 16 (Final)','Unnamed: 17']
rank = rankings.drop(drop_col_rank, 1)
rank.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Clemson,Clemson,Clemson,Clemson,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,LSU,LSU,LSU,LSU
1,Alabama,Alabama,Alabama,Alabama,Clemson,Clemson,Clemson,Clemson,LSU,LSU,Ohio State,Ohio State,Ohio State,Ohio State
2,Georgia,Georgia,Georgia,Georgia,Georgia,Georgia,LSU,LSU,Clemson,Clemson,Clemson,Clemson,Clemson,Clemson
3,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Alabama,Georgia,Georgia,Georgia
4,Ohio State,LSU,LSU,LSU,Ohio State,Oklahoma,Oklahoma,Oklahoma,Penn State,Penn State,Georgia,Alabama,Alabama,Utah

In [389]:
#convert column names to integers
colnames = [1,2,3,4,5,6,7,8,9,10,11,12,13, 14]
col = rank.columns
rank = rank.rename(columns = dict(zip(col, colnames)))
rank.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Clemson,Clemson,Clemson,Clemson,Alabama,Alabama,Alabama,Alabama,Alabama,Alabama,LSU,LSU,LSU,LSU
1,Alabama,Alabama,Alabama,Alabama,Clemson,Clemson,Clemson,Clemson,LSU,LSU,Ohio State,Ohio State,Ohio State,Ohio State
2,Georgia,Georgia,Georgia,Georgia,Georgia,Georgia,LSU,LSU,Clemson,Clemson,Clemson,Clemson,Clemson,Clemson
3,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Oklahoma,Ohio State,Ohio State,Ohio State,Ohio State,Ohio State,Alabama,Georgia,Georgia,Georgia
4,Ohio State,LSU,LSU,LSU,Ohio State,Oklahoma,Oklahoma,Oklahoma,Penn State,Penn State,Georgia,Alabama,Alabama,Utah

In [390]:
#check that column names are integers
rank.columns

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [391]:
#lowercase 
rank = rank.apply(lambda x: x.astype(str).str.lower())
rank.head(2)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,clemson,clemson,clemson,clemson,alabama,alabama,alabama,alabama,alabama,alabama,lsu,lsu,lsu,lsu
1,alabama,alabama,alabama,alabama,clemson,clemson,clemson,clemson,lsu,lsu,ohio state,ohio state,ohio state,ohio state

In [392]:
#rename schools in ranking to match pbp
for school, mascot in mascot_dict.items():
    for team in rank:
        for i in range(len(rank)):
            if school in rank[team][i]:
                rank[team][i] = mascot

In [393]:
rank.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,clemson tigers,clemson tigers,clemson tigers,clemson tigers,alabama crimson tide,alabama crimson tide,alabama crimson tide,alabama crimson tide,alabama crimson tide,alabama crimson tide,lsu tigers,lsu tigers,lsu tigers,lsu tigers
1,alabama crimson tide,alabama crimson tide,alabama crimson tide,alabama crimson tide,clemson tigers,clemson tigers,clemson tigers,clemson tigers,lsu tigers,lsu tigers,ohio state buckeyes,ohio state buckeyes,ohio state buckeyes,ohio state buckeyes
2,georgia bulldogs,georgia bulldogs,georgia bulldogs,georgia bulldogs,georgia bulldogs,georgia bulldogs,lsu tigers,lsu tigers,clemson tigers,clemson tigers,clemson tigers,clemson tigers,clemson tigers,clemson tigers
3,oklahoma sooners,oklahoma sooners,oklahoma sooners,oklahoma sooners,oklahoma sooners,ohio state buckeyes,ohio state buckeyes,ohio state buckeyes,ohio state buckeyes,ohio state buckeyes,alabama crimson tide,georgia bulldogs,georgia bulldogs,georgia bulldogs
4,ohio state buckeyes,lsu tigers,lsu tigers,lsu tigers,ohio state buckeyes,oklahoma sooners,oklahoma sooners,oklahoma sooners,penn state nittany lions,penn state nittany lions,georgia bulldogs,alabama crimson tide,alabama crimson tide,utah utes

In [395]:
rank_25 = rank

In [396]:
#reset index to correspond to ranking
rank_25.index = np.arange(1, len(rank_25) +1)

In [397]:
#convert rank_25 to dict
rank_dict = rank_25.to_dict()
rank_dict

{1: {1: 'clemson tigers',
  2: 'alabama crimson tide',
  3: 'georgia bulldogs',
  4: 'oklahoma sooners',
  5: 'ohio state buckeyes',
  6: 'lsu tigers',
  7: 'michigan wolverines',
  8: 'notre dame ',
  9: 'texas longhorns',
  10: 'florida gators',
  11: 'texas longhorns',
  12: 'washington huskies',
  13: 'auburn tigers',
  14: 'penn state nittany lions',
  15: 'utah utes',
  16: 'wisconsin badgers',
  17: 'ucf ',
  18: 'oregon ducks',
  19: 'iowa hawkeyes',
  20: 'michigan wolverines',
  21: 'washington huskies',
  22: 'syracuse orange',
  23: 'stanford cardinal',
  24: 'boise state ',
  25: 'nebraska cornhuskers'},
 2: {1: 'clemson tigers',
  2: 'alabama crimson tide',
  3: 'georgia bulldogs',
  4: 'oklahoma sooners',
  5: 'lsu tigers',
  6: 'ohio state buckeyes',
  7: 'notre dame ',
  8: 'florida gators',
  9: 'auburn tigers',
  10: 'michigan wolverines',
  11: 'penn state nittany lions',
  12: 'utah utes',
  13: 'texas longhorns',
  14: 'wisconsin badgers',
  15: 'texas longhorns',
  16: 'ucf ',
  17: 'oregon ducks',
  18: 'iowa hawkeyes',
  19: 'michigan wolverines',
  20: 'washington huskies',
  21: 'washington huskies',
  22: 'boise state ',
  23: 'mississippi state bulldogs',
  24: 'usc trojans',
  25: 'maryland terrapins'},
 3: {1: 'clemson tigers',
  2: 'alabama crimson tide',
  3: 'georgia bulldogs',
  4: 'oklahoma sooners',
  5: 'lsu tigers',
  6: 'ohio state buckeyes',
  7: 'notre dame ',
  8: 'florida gators',
  9: 'auburn tigers',
  10: 'michigan wolverines',
  11: 'utah utes',
  12: 'penn state nittany lions',
  13: 'texas longhorns',
  14: 'wisconsin badgers',
  15: 'texas longhorns',
  16: 'ucf ',
  17: 'oregon ducks',
  18: 'iowa hawkeyes',
  19: 'washington huskies',
  20: 'boise state ',
  21: 'washington huskies',
  22: 'virginia cavaliers',
  23: 'california golden bears',
  24: 'arizona wildcats',
  25: 'kansas jayhawks'},
 4: {1: 'clemson tigers',
  2: 'alabama crimson tide',
  3: 'georgia bulldogs',
  4: 'oklahoma sooners',
  5: 'lsu tigers',
  6: 'ohio state buckeyes',
  7: 'auburn tigers',
  8: 'florida gators',
  9: 'wisconsin badgers',
  10: 'notre dame ',
  11: 'penn state nittany lions',
  12: 'texas longhorns',
  13: 'oregon ducks',
  14: 'iowa hawkeyes',
  15: 'boise state ',
  16: 'california golden bears',
  17: 'washington huskies',
  18: 'virginia cavaliers',
  19: 'utah utes',
  20: 'michigan wolverines',
  21: 'texas longhorns',
  22: 'kansas jayhawks',
  23: 'ucf ',
  24: 'wake forest demon deacons',
  25: 'usc trojans'},
 5: {1: 'alabama crimson tide',
  2: 'clemson tigers',
  3: 'georgia bulldogs',
  4: 'oklahoma sooners',
  5: 'ohio state buckeyes',
  6: 'lsu tigers',
  7: 'auburn tigers',
  8: 'florida gators',
  9: 'wisconsin badgers',
  10: 'notre dame ',
  11: 'penn state nittany lions',
  12: 'texas longhorns',
  13: 'oregon ducks',
  14: 'iowa hawkeyes',
  15: 'boise state ',
  16: 'washington huskies',
  17: 'utah utes',
  18: 'michigan wolverines',
  19: 'ucf ',
  20: 'wake forest demon deacons',
  21: 'texas longhorns',
  22: 'virginia cavaliers',
  23: 'michigan wolverines',
  24: 'memphis ',
  25: 'oklahoma sooners'},
 6: {1: 'alabama crimson tide',
  2: 'clemson tigers',
  3: 'georgia bulldogs',
  4: 'ohio state buckeyes',
  5: 'oklahoma sooners',
  6: 'lsu tigers',
  7: 'florida gators',
  8: 'wisconsin badgers',
  9: 'penn state nittany lions',
  10: 'notre dame ',
  11: 'texas longhorns',
  12: 'auburn tigers',
  13: 'oregon ducks',
  14: 'boise state ',
  15: 'utah utes',
  16: 'michigan wolverines',
  17: 'wake forest demon deacons',
  18: 'iowa hawkeyes',
  19: 'virginia cavaliers',
  20: 'memphis ',
  21: 'texas longhorns',
  22: 'smu ',
  23: 'baylor bears',
  24: 'arizona wildcats',
  25: 'minnesota golden gophers'},
 7: {1: 'alabama crimson tide',
  2: 'clemson tigers',
  3: 'lsu tigers',
  4: 'ohio state buckeyes',
  5: 'oklahoma sooners',
  6: 'wisconsin badgers',
  7: 'penn state nittany lions',
  8: 'notre dame ',
  9: 'florida gators',
  10: 'georgia bulldogs',
  11: 'auburn tigers',
  12: 'oregon ducks',
  13: 'boise state ',
  14: 'utah utes',
  15: 'texas longhorns',
  16: 'michigan wolverines',
  17: 'arizona wildcats',
  18: 'baylor bears',
  19: 'smu ',
  20: 'minnesota golden gophers',
  21: 'cincinnati ',
  22: 'iowa hawkeyes',
  23: 'washington huskies',
  24: 'appalachian state ',
  25: 'temple '},
 8: {1: 'alabama crimson tide',
  2: 'clemson tigers',
  3: 'lsu tigers',
  4: 'ohio state buckeyes',
  5: 'oklahoma sooners',
  6: 'penn state nittany lions',
  7: 'notre dame ',
  8: 'florida gators',
  9: 'georgia bulldogs',
  10: 'auburn tigers',
  11: 'oregon ducks',
  12: 'utah utes',
  13: 'wisconsin badgers',
  14: 'baylor bears',
  15: 'texas longhorns',
  16: 'minnesota golden gophers',
  17: 'smu ',
  18: 'cincinnati ',
  19: 'iowa hawkeyes',
  20: 'michigan wolverines',
  21: 'boise state ',
  22: 'appalachian state ',
  23: 'wake forest demon deacons',
  24: 'arizona wildcats',
  25: 'memphis '},
 9: {1: 'alabama crimson tide',
  2: 'lsu tigers',
  3: 'clemson tigers',
  4: 'ohio state buckeyes',
  5: 'penn state nittany lions',
  6: 'florida gators',
  7: 'georgia bulldogs',
  8: 'oregon ducks',
  9: 'oklahoma sooners',
  10: 'utah utes',
  11: 'baylor bears',
  12: 'auburn tigers',
  13: 'minnesota golden gophers',
  14: 'smu ',
  15: 'michigan wolverines',
  16: 'notre dame ',
  17: 'wisconsin badgers',
  18: 'cincinnati ',
  19: 'iowa hawkeyes',
  20: 'appalachian state ',
  21: 'boise state ',
  22: 'wake forest demon deacons',
  23: 'memphis ',
  24: 'texas longhorns',
  25: 'kansas jayhawks'},
 10: {1: 'alabama crimson tide',
  2: 'lsu tigers',
  3: 'clemson tigers',
  4: 'ohio state buckeyes',
  5: 'penn state nittany lions',
  6: 'georgia bulldogs',
  7: 'oregon ducks',
  8: 'oklahoma sooners',
  9: 'utah utes',
  10: 'baylor bears',
  11: 'florida gators',
  12: 'auburn tigers',
  13: 'minnesota golden gophers',
  14: 'michigan wolverines',
  15: 'notre dame ',
  16: 'wisconsin badgers',
  17: 'cincinnati ',
  18: 'iowa hawkeyes',
  19: 'memphis ',
  20: 'wake forest demon deacons',
  21: 'boise state ',
  22: 'kansas jayhawks',
  23: 'smu ',
  24: 'san diego state ',
  25: 'navy '},
 11: {1: 'lsu tigers',
  2: 'ohio state buckeyes',
  3: 'clemson tigers',
  4: 'alabama crimson tide',
  5: 'georgia bulldogs',
  6: 'oregon ducks',
  7: 'minnesota golden gophers',
  8: 'oklahoma sooners',
  9: 'utah utes',
  10: 'baylor bears',
  11: 'penn state nittany lions',
  12: 'florida gators',
  13: 'auburn tigers',
  14: 'michigan wolverines',
  15: 'wisconsin badgers',
  16: 'notre dame ',
  17: 'cincinnati ',
  18: 'memphis ',
  19: 'boise state ',
  20: 'smu ',
  21: 'navy ',
  22: 'iowa hawkeyes',
  23: 'texas longhorns',
  24: 'appalachian state ',
  25: 'indiana hoosiers'},
 12: {1: 'lsu tigers',
  2: 'ohio state buckeyes',
  3: 'clemson tigers',
  4: 'georgia bulldogs',
  5: 'alabama crimson tide',
  6: 'oregon ducks',
  7: 'oklahoma sooners',
  8: 'utah utes',
  9: 'penn state nittany lions',
  10: 'florida gators',
  11: 'minnesota golden gophers',
  12: 'michigan wolverines',
  13: 'baylor bears',
  14: 'wisconsin badgers',
  15: 'notre dame ',
  16: 'auburn tigers',
  17: 'cincinnati ',
  18: 'memphis ',
  19: 'boise state ',
  20: 'iowa hawkeyes',
  21: 'smu ',
  22: 'appalachian state ',
  23: 'oklahoma sooners',
  24: 'texas longhorns',
  25: 'san diego state '},
 13: {1: 'lsu tigers',
  2: 'ohio state buckeyes',
  3: 'clemson tigers',
  4: 'georgia bulldogs',
  5: 'alabama crimson tide',
  6: 'utah utes',
  7: 'oklahoma sooners',
  8: 'florida gators',
  9: 'minnesota golden gophers',
  10: 'baylor bears',
  11: 'michigan wolverines',
  12: 'penn state nittany lions',
  13: 'oregon ducks',
  14: 'wisconsin badgers',
  15: 'notre dame ',
  16: 'auburn tigers',
  17: 'cincinnati ',
  18: 'memphis ',
  19: 'boise state ',
  20: 'iowa hawkeyes',
  21: 'oklahoma sooners',
  22: 'appalachian state ',
  23: 'virginia cavaliers',
  24: 'navy ',
  25: 'usc trojans'},
 14: {1: 'lsu tigers',
  2: 'ohio state buckeyes',
  3: 'clemson tigers',
  4: 'georgia bulldogs',
  5: 'utah utes',
  6: 'oklahoma sooners',
  7: 'florida gators',
  8: 'baylor bears',
  9: 'alabama crimson tide',
  10: 'wisconsin badgers',
  11: 'penn state nittany lions',
  12: 'auburn tigers',
  13: 'oregon ducks',
  14: 'notre dame ',
  15: 'minnesota golden gophers',
  16: 'memphis ',
  17: 'boise state ',
  18: 'michigan wolverines',
  19: 'iowa hawkeyes',
  20: 'appalachian state ',
  21: 'cincinnati ',
  22: 'virginia cavaliers',
  23: 'navy ',
  24: 'usc trojans',
  25: 'air force '}}

In [398]:
#reverse inner dictionary
from collections import defaultdict
import pprint

flipped = defaultdict(dict)
for week, spots in rank_dict.items():
    for spot, team in spots.items():
        flipped[week][team]= spot

pprint.pprint(dict(flipped))

{1: {'alabama crimson tide': 2,
     'auburn tigers': 13,
     'boise state ': 24,
     'clemson tigers': 1,
     'florida gators': 10,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 19,
     'lsu tigers': 6,
     'michigan wolverines': 20,
     'nebraska cornhuskers': 25,
     'notre dame ': 8,
     'ohio state buckeyes': 5,
     'oklahoma sooners': 4,
     'oregon ducks': 18,
     'penn state nittany lions': 14,
     'stanford cardinal': 23,
     'syracuse orange': 22,
     'texas longhorns': 11,
     'ucf ': 17,
     'utah utes': 15,
     'washington huskies': 21,
     'wisconsin badgers': 16},
 2: {'alabama crimson tide': 2,
     'auburn tigers': 9,
     'boise state ': 22,
     'clemson tigers': 1,
     'florida gators': 8,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 18,
     'lsu tigers': 5,
     'maryland terrapins': 25,
     'michigan wolverines': 19,
     'mississippi state bulldogs': 23,
     'notre dame ': 7,
     'ohio state buckeyes': 6,
     'oklahoma sooners': 4,
     'oregon ducks': 17,
     'penn state nittany lions': 11,
     'texas longhorns': 15,
     'ucf ': 16,
     'usc trojans': 24,
     'utah utes': 12,
     'washington huskies': 21,
     'wisconsin badgers': 14},
 3: {'alabama crimson tide': 2,
     'arizona wildcats': 24,
     'auburn tigers': 9,
     'boise state ': 20,
     'california golden bears': 23,
     'clemson tigers': 1,
     'florida gators': 8,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 18,
     'kansas jayhawks': 25,
     'lsu tigers': 5,
     'michigan wolverines': 10,
     'notre dame ': 7,
     'ohio state buckeyes': 6,
     'oklahoma sooners': 4,
     'oregon ducks': 17,
     'penn state nittany lions': 12,
     'texas longhorns': 15,
     'ucf ': 16,
     'utah utes': 11,
     'virginia cavaliers': 22,
     'washington huskies': 21,
     'wisconsin badgers': 14},
 4: {'alabama crimson tide': 2,
     'auburn tigers': 7,
     'boise state ': 15,
     'california golden bears': 16,
     'clemson tigers': 1,
     'florida gators': 8,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 14,
     'kansas jayhawks': 22,
     'lsu tigers': 5,
     'michigan wolverines': 20,
     'notre dame ': 10,
     'ohio state buckeyes': 6,
     'oklahoma sooners': 4,
     'oregon ducks': 13,
     'penn state nittany lions': 11,
     'texas longhorns': 21,
     'ucf ': 23,
     'usc trojans': 25,
     'utah utes': 19,
     'virginia cavaliers': 18,
     'wake forest demon deacons': 24,
     'washington huskies': 17,
     'wisconsin badgers': 9},
 5: {'alabama crimson tide': 1,
     'auburn tigers': 7,
     'boise state ': 15,
     'clemson tigers': 2,
     'florida gators': 8,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 14,
     'lsu tigers': 6,
     'memphis ': 24,
     'michigan wolverines': 23,
     'notre dame ': 10,
     'ohio state buckeyes': 5,
     'oklahoma sooners': 25,
     'oregon ducks': 13,
     'penn state nittany lions': 11,
     'texas longhorns': 21,
     'ucf ': 19,
     'utah utes': 17,
     'virginia cavaliers': 22,
     'wake forest demon deacons': 20,
     'washington huskies': 16,
     'wisconsin badgers': 9},
 6: {'alabama crimson tide': 1,
     'arizona wildcats': 24,
     'auburn tigers': 12,
     'baylor bears': 23,
     'boise state ': 14,
     'clemson tigers': 2,
     'florida gators': 7,
     'georgia bulldogs': 3,
     'iowa hawkeyes': 18,
     'lsu tigers': 6,
     'memphis ': 20,
     'michigan wolverines': 16,
     'minnesota golden gophers': 25,
     'notre dame ': 10,
     'ohio state buckeyes': 4,
     'oklahoma sooners': 5,
     'oregon ducks': 13,
     'penn state nittany lions': 9,
     'smu ': 22,
     'texas longhorns': 21,
     'utah utes': 15,
     'virginia cavaliers': 19,
     'wake forest demon deacons': 17,
     'wisconsin badgers': 8},
 7: {'alabama crimson tide': 1,
     'appalachian state ': 24,
     'arizona wildcats': 17,
     'auburn tigers': 11,
     'baylor bears': 18,
     'boise state ': 13,
     'cincinnati ': 21,
     'clemson tigers': 2,
     'florida gators': 9,
     'georgia bulldogs': 10,
     'iowa hawkeyes': 22,
     'lsu tigers': 3,
     'michigan wolverines': 16,
     'minnesota golden gophers': 20,
     'notre dame ': 8,
     'ohio state buckeyes': 4,
     'oklahoma sooners': 5,
     'oregon ducks': 12,
     'penn state nittany lions': 7,
     'smu ': 19,
     'temple ': 25,
     'texas longhorns': 15,
     'utah utes': 14,
     'washington huskies': 23,
     'wisconsin badgers': 6},
 8: {'alabama crimson tide': 1,
     'appalachian state ': 22,
     'arizona wildcats': 24,
     'auburn tigers': 10,
     'baylor bears': 14,
     'boise state ': 21,
     'cincinnati ': 18,
     'clemson tigers': 2,
     'florida gators': 8,
     'georgia bulldogs': 9,
     'iowa hawkeyes': 19,
     'lsu tigers': 3,
     'memphis ': 25,
     'michigan wolverines': 20,
     'minnesota golden gophers': 16,
     'notre dame ': 7,
     'ohio state buckeyes': 4,
     'oklahoma sooners': 5,
     'oregon ducks': 11,
     'penn state nittany lions': 6,
     'smu ': 17,
     'texas longhorns': 15,
     'utah utes': 12,
     'wake forest demon deacons': 23,
     'wisconsin badgers': 13},
 9: {'alabama crimson tide': 1,
     'appalachian state ': 20,
     'auburn tigers': 12,
     'baylor bears': 11,
     'boise state ': 21,
     'cincinnati ': 18,
     'clemson tigers': 3,
     'florida gators': 6,
     'georgia bulldogs': 7,
     'iowa hawkeyes': 19,
     'kansas jayhawks': 25,
     'lsu tigers': 2,
     'memphis ': 23,
     'michigan wolverines': 15,
     'minnesota golden gophers': 13,
     'notre dame ': 16,
     'ohio state buckeyes': 4,
     'oklahoma sooners': 9,
     'oregon ducks': 8,
     'penn state nittany lions': 5,
     'smu ': 14,
     'texas longhorns': 24,
     'utah utes': 10,
     'wake forest demon deacons': 22,
     'wisconsin badgers': 17},
 10: {'alabama crimson tide': 1,
      'auburn tigers': 12,
      'baylor bears': 10,
      'boise state ': 21,
      'cincinnati ': 17,
      'clemson tigers': 3,
      'florida gators': 11,
      'georgia bulldogs': 6,
      'iowa hawkeyes': 18,
      'kansas jayhawks': 22,
      'lsu tigers': 2,
      'memphis ': 19,
      'michigan wolverines': 14,
      'minnesota golden gophers': 13,
      'navy ': 25,
      'notre dame ': 15,
      'ohio state buckeyes': 4,
      'oklahoma sooners': 8,
      'oregon ducks': 7,
      'penn state nittany lions': 5,
      'san diego state ': 24,
      'smu ': 23,
      'utah utes': 9,
      'wake forest demon deacons': 20,
      'wisconsin badgers': 16},
 11: {'alabama crimson tide': 4,
      'appalachian state ': 24,
      'auburn tigers': 13,
      'baylor bears': 10,
      'boise state ': 19,
      'cincinnati ': 17,
      'clemson tigers': 3,
      'florida gators': 12,
      'georgia bulldogs': 5,
      'indiana hoosiers': 25,
      'iowa hawkeyes': 22,
      'lsu tigers': 1,
      'memphis ': 18,
      'michigan wolverines': 14,
      'minnesota golden gophers': 7,
      'navy ': 21,
      'notre dame ': 16,
      'ohio state buckeyes': 2,
      'oklahoma sooners': 8,
      'oregon ducks': 6,
      'penn state nittany lions': 11,
      'smu ': 20,
      'texas longhorns': 23,
      'utah utes': 9,
      'wisconsin badgers': 15},
 12: {'alabama crimson tide': 5,
      'appalachian state ': 22,
      'auburn tigers': 16,
      'baylor bears': 13,
      'boise state ': 19,
      'cincinnati ': 17,
      'clemson tigers': 3,
      'florida gators': 10,
      'georgia bulldogs': 4,
      'iowa hawkeyes': 20,
      'lsu tigers': 1,
      'memphis ': 18,
      'michigan wolverines': 12,
      'minnesota golden gophers': 11,
      'notre dame ': 15,
      'ohio state buckeyes': 2,
      'oklahoma sooners': 23,
      'oregon ducks': 6,
      'penn state nittany lions': 9,
      'san diego state ': 25,
      'smu ': 21,
      'texas longhorns': 24,
      'utah utes': 8,
      'wisconsin badgers': 14},
 13: {'alabama crimson tide': 5,
      'appalachian state ': 22,
      'auburn tigers': 16,
      'baylor bears': 10,
      'boise state ': 19,
      'cincinnati ': 17,
      'clemson tigers': 3,
      'florida gators': 8,
      'georgia bulldogs': 4,
      'iowa hawkeyes': 20,
      'lsu tigers': 1,
      'memphis ': 18,
      'michigan wolverines': 11,
      'minnesota golden gophers': 9,
      'navy ': 24,
      'notre dame ': 15,
      'ohio state buckeyes': 2,
      'oklahoma sooners': 21,
      'oregon ducks': 13,
      'penn state nittany lions': 12,
      'usc trojans': 25,
      'utah utes': 6,
      'virginia cavaliers': 23,
      'wisconsin badgers': 14},
 14: {'air force ': 25,
      'alabama crimson tide': 9,
      'appalachian state ': 20,
      'auburn tigers': 12,
      'baylor bears': 8,
      'boise state ': 17,
      'cincinnati ': 21,
      'clemson tigers': 3,
      'florida gators': 7,
      'georgia bulldogs': 4,
      'iowa hawkeyes': 19,
      'lsu tigers': 1,
      'memphis ': 16,
      'michigan wolverines': 18,
      'minnesota golden gophers': 15,
      'navy ': 23,
      'notre dame ': 14,
      'ohio state buckeyes': 2,
      'oklahoma sooners': 6,
      'oregon ducks': 13,
      'penn state nittany lions': 11,
      'usc trojans': 24,
      'utah utes': 5,
      'virginia cavaliers': 22,
      'wisconsin badgers': 10}}

In [427]:
#add home rank column
replaced_dfs = []
for week, pbp_df in pbp.groupby('week'):
    pbp_df['home_rank'] = pbp_df['hometeam'].map(flipped[week])
    replaced_dfs.append(pbp_df)

In [428]:
pbp_rank = pd.concat(replaced_dfs)
pbp_rank.head()

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,int,fumble,td,xp result,two pt result,complex,week,home_conf,away_conf,home_rank
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,False,True,False,NaN,NaN,5,1,sec,NaN,6.0
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,False,True,False,NaN,NaN,5,1,sec,acc,10.0
8,401112212,michigan state spartans,tulsa golden hurricane,102955001,202,tulsa golden hurricane,michigan state spartans,6,7,2,...,False,True,False,NaN,NaN,5,1,big ten,NaN,NaN
9,401112238,nebraska cornhuskers,south alabama jaguars,101974201,6,south alabama jaguars,nebraska cornhuskers,3,7,1,...,False,True,False,NaN,NaN,5,1,big ten,NaN,25.0
86,401110730,tennessee volunteers,georgia state panthers,104857801,2633,tennessee volunteers,georgia state panthers,8,24,4,...,False,False,False,NaN,NaN,2,1,sec,NaN,NaN

In [429]:
#check dataframe size
pbp_rank.shape

(34166, 42)

In [ ]:
pbp_rank['away_rank']=np.nan

In [431]:
#add away rank column
replaced_away_dfs = []
for week, pbp_df in pbp_rank.groupby('week'):
    pbp_df['away_rank'] = pbp_df['awayteam'].map(flipped[week])
    replaced_away_dfs.append(pbp_df)

In [436]:
pbp_rank = pd.concat(replaced_away_dfs)
pbp_rank.head(25)

,gameid,hometeam,awayteam,playid,activeid,activeteam,nonactive team,drive #,playtype,quarter,...,fumble,td,xp result,two pt result,complex,week,home_conf,away_conf,home_rank,away_rank
1,401110725,lsu tigers,georgia southern eagles,101998701,290,georgia southern eagles,lsu tigers,3,7,1,...,True,False,NaN,NaN,5,1,sec,NaN,6.0,NaN
2,401110723,florida gators,miami hurricanes,104966901,2390,miami hurricanes,florida gators,11,9,4,...,True,False,NaN,NaN,5,1,sec,acc,10.0,NaN
8,401112212,michigan state spartans,tulsa golden hurricane,102955001,202,tulsa golden hurricane,michigan state spartans,6,7,2,...,True,False,NaN,NaN,5,1,big ten,NaN,NaN,NaN
9,401112238,nebraska cornhuskers,south alabama jaguars,101974201,6,south alabama jaguars,nebraska cornhuskers,3,7,1,...,True,False,NaN,NaN,5,1,big ten,NaN,25.0,NaN
86,401110730,tennessee volunteers,georgia state panthers,104857801,2633,tennessee volunteers,georgia state panthers,8,24,4,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
87,401110730,tennessee volunteers,georgia state panthers,104994406,2633,tennessee volunteers,georgia state panthers,12,24,4,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
88,401110730,tennessee volunteers,georgia state panthers,101884406,2633,tennessee volunteers,georgia state panthers,2,24,1,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
89,401110730,tennessee volunteers,georgia state panthers,101979201,2633,tennessee volunteers,georgia state panthers,3,3,1,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
90,401110732,vanderbilt commodores,georgia bulldogs,102876901,238,vanderbilt commodores,georgia bulldogs,2,24,2,...,False,False,NaN,NaN,2,1,sec,sec,NaN,3.0
94,401110732,vanderbilt commodores,georgia bulldogs,102866901,238,vanderbilt commodores,georgia bulldogs,2,5,2,...,False,False,NaN,NaN,2,1,sec,sec,NaN,3.0
107,401110724,kentucky wildcats,toledo rockets,104966902,96,kentucky wildcats,toledo rockets,14,29,4,...,True,False,NaN,NaN,5,1,sec,NaN,NaN,NaN
109,401110724,kentucky wildcats,toledo rockets,102887404,96,kentucky wildcats,toledo rockets,3,52,2,...,False,False,NaN,NaN,3,1,sec,NaN,NaN,NaN
111,401110724,kentucky wildcats,toledo rockets,101878403,96,kentucky wildcats,toledo rockets,1,53,1,...,False,False,NaN,NaN,3,1,sec,NaN,NaN,NaN
113,401110724,kentucky wildcats,toledo rockets,103854604,96,kentucky wildcats,toledo rockets,6,52,3,...,False,False,NaN,NaN,3,1,sec,NaN,NaN,NaN
114,401110724,kentucky wildcats,toledo rockets,104866304,96,kentucky wildcats,toledo rockets,11,52,4,...,False,False,NaN,NaN,3,1,sec,NaN,NaN,NaN
115,401110724,kentucky wildcats,toledo rockets,103969209,96,kentucky wildcats,toledo rockets,10,52,3,...,False,False,NaN,NaN,3,1,sec,NaN,NaN,NaN
117,401110724,kentucky wildcats,toledo rockets,101849905,2649,toledo rockets,kentucky wildcats,1,24,1,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
121,401110725,lsu tigers,georgia southern eagles,101909401,99,lsu tigers,georgia southern eagles,2,24,1,...,False,False,NaN,NaN,2,1,sec,NaN,6.0,NaN
122,401110725,lsu tigers,georgia southern eagles,102988901,99,lsu tigers,georgia southern eagles,7,24,2,...,False,False,NaN,NaN,2,1,sec,NaN,6.0,NaN
124,401110724,kentucky wildcats,toledo rockets,102939810,2649,toledo rockets,kentucky wildcats,5,3,2,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
125,401110725,lsu tigers,georgia southern eagles,103884201,99,lsu tigers,georgia southern eagles,8,24,3,...,False,False,NaN,NaN,2,1,sec,NaN,6.0,NaN
126,401110724,kentucky wildcats,toledo rockets,101849906,2649,toledo rockets,kentucky wildcats,1,3,1,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
127,401110724,kentucky wildcats,toledo rockets,101896105,2649,toledo rockets,kentucky wildcats,2,24,1,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
128,401110724,kentucky wildcats,toledo rockets,103949404,2649,toledo rockets,kentucky wildcats,10,24,3,...,False,False,NaN,NaN,2,1,sec,NaN,NaN,NaN
131,401110725,lsu tigers,georgia southern eagles,102984101,99,lsu tigers,georgia southern eagles,7,24,2,...,False,False,NaN,NaN,2,1,sec,NaN,6.0,NaN

In [437]:
#check dataframe rank
pbp_rank.shape

(34166, 43)